<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="background-color:powderblue;">


    <h1 style="color:yellow;text-align:center;">Magic Ball 8</h1>
    <form style="text-align:center" action="/confirm" method="post">
        <div class="container">
            <h1 style="color:yellow;text-align:center;">To know fortune click on submit</h1>
            <button type="submit">Submit</button><br>
            <br>
            <br>
            <br>
            <br>

<!--            <h1 style="color:red;text-align:center;">{{result}}</h1>-->


        </div>
    </form>

</body>
</html>