<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="background-color:powderblue;">


    <h1 style="color:yellow;text-align:center;">Student Registration Form</h1>
    <form style="text-align:center" action="/confirm" method="post">
        <div class="container">
            <label style="color:blue">Firstname : </label><br>
            <input type="text" placeholder="Enter Firstname" name="firstname" required><br>
<!--            <br>-->
            <label style="color:blue">Lastname  : </label><br>
            <input type="text" placeholder="Enter Lastname" name="Lastname" required><br>
<!--            <br>-->
            <label style="color:blue">Mail id    : </label><br>
            <input type="text" placeholder="Enter Mailid" name="Mailid" required><br>
<!--            <br>-->
            <label style="color:blue">Phone number : </label><br>
            <input type="text" placeholder="Enter Phonenumber" name="Phonenumber" required><br>
<!--            <br>-->
            <label style="color:blue">Location : </label><br>
            <input type="text" placeholder="Enter Location" name="Location" required><br>
<!--            <br>-->
            <label style="color:blue">Username : </label><br>
            <input type="text" placeholder="Enter Username" name="username" required><br>
<!--            <br>-->
            <label style="color:blue">Password : </label><br>
            <input type="password" placeholder="Enter Password" name="password" required><br>
            <br>
            <button type="submit">Submit</button><br>
<!--            <input type="checkbox" checked="checked"> Remember me-->
<!--            <button type="button" class="cancelbtn"> Cancel</button>-->
<!--            Forgot <a href="#"> password? </a>-->
        </div>
    </form>

</body>
</html>