<html>

<h1 style="color:blue;">Student Marks</h1>

<h4>Enter your Marks below </h4>

<body>
<form action="/submit" method='POST'>
  <div>
  <label for="maths">Math Marks:</label><br>
  <input type="text" name="maths" value="0" ><br>
  </div>
  <div>
  <label for="biology">Biology Score:</label><br>
  <input type="text" name="biology" value="0" ><br>
  </div>
  <div>
  <label for="chemistry">Chemistry score:</label><br>
  <input type="text" name="chemistry" value="0" ><br>
  </div>
  <input type="submit" value="Submit"><br>

<p>if click on submit go to page where averaage will be displayed</p>

</form>
</body>
</html>